language: ruby
script : script/cibuild
sudo: false
notifications:
  email: false
branches:
  only:
    - master
rvm:
  - 2.5
  - 2.4
  - 2.3
env:
  - ""
  - JEKYLL_VERSION=3.8.0
matrix:
  include:
    - # GitHub Pages
      rvm: 2.4
      env: GH_PAGES=true
